
config SUNXI_SDMMC
	bool "support sunxi sdmmc devices"
	depends on SUNXI_FLASH && MMC
	default n
	help
	  enable support for sunxi sdmmc devices. these provide a block-level interface which permits
	  reading, writing and (in some cases) erasing blocks.


if SUNXI_SDMMC
config MMC_LOGICAL_OFFSET
	int "logic address for read/write"
	default 40960
	help
	  logic address for mbr and partitions(1M-MBRSIZE = 2048-32).
	  SDMMC address is offset*512 bytes.

config SUNXI_BOOT0_SDMMC_BACKUP_START_ADDR
	int "backup boot0 offset"
	default 256
	help
	  offset to write backup boot0, unit:sector(512 bytes)

config SUNXI_RECOVERY_BOOT0_COPY0
	bool "recovery boot0 copy 0 on boot"
	default n
	help
	  check if boot from copy1, if so, copy0 is curruptted.
	  copy copy1 to copy0 to recovery it

endif





