#-----------------------------------------#
check_interval=5        # Cycle to detect whether wifi is connected, time 5s
router_ip=8.8.8.8       # Reference DNS, used to detect network connections

eth=eth0        # Ethernet card device number
wlan=wlan0      # Wireless NIC device number

###########################################
# System time zone setting, default Beijing time (East 8)
# More settable time zones can be viewed by running the command: timedatectl list-timezones 
TimeZone="Asia/Shanghai"

###########################################
# HDMI display rotation
# HDMI_Vendor: Screen manufacturer's name
#       Currently supported: "BTT" , "WaveShare"
# dis_angle: Rotation angle
#       normal: 0;          inverted: 180;
#       left: 90 to left;   right: 90 to right;
HDMI_Vendor="WaveShare"
dis_angle="normal"

###########################################
# wifi name
WIFI_SSID="ZYIPTest"
# wifi password
WIFI_PASSWD="12345678"

# IP allocation mode: "auto" or "static"
IP_MODE="auto"

# If it is in automatic mode, there will be routes to dynamically assign ip addresses. 
# If it is static mode, the ip address will be set according to the following parameters.

# Specify the network device for setting static ip. "wifi" or "eth"
IP_STATIC_DEVICE="wifi"
IP_ADDR="192.168.1.100"
IP_GATEWAY="192.168.1.1"        # Router's ip address.
IP_DNS="8.8.8.8"

###########################################
WIFI_AP="false"             # Whether to open wifi AP mode, default off
WIFI_AP_SSID="rtl8189"      # Hotspot name created by wifi AP mode
WIFI_AP_PASSWD="12345678"   # wifi AP mode to create hotspot connection password

###########################################
# BTT-PAD7 
# Whether to turn on touch vibration and sound effects. (ON/OFF)
TOUCH_VIBRATION="OFF"
TOUCH_SOUND="OFF"
