*.o
/*.patch
/*.diff
*.orig
*.rej
*.swp
*~
/common/adb/adbd
/common/adb/*.a
/common/adb/libs/libcutils/*.a
/common/adb/libs/libmincrypt/*.a
/sysroot/
/output/bin/
/output/firmware
/rootfs.ext4
/rootfs/
/src/lib/libscript.a
*.d
