CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_MACH_SUN50IW3=y
#CONFIG_AXP_GPIO=y
CONFIG_DEFAULT_DEVICE_TREE="sun50iw3-common"
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
CONFIG_CONSOLE_MUX=y
# CONFIG_CMD_FLASH is not set
# CONFIG_SPL_DOS_PARTITION is not set
# CONFIG_SPL_EFI_PARTITION is not set
# CONFIG_AXP_DLDO4_VOLT=3300
# CONFIG_USB_EHCI_HCD=y
# CONFIG_USB_MUSB_HOST=y
# CONFIG_SYS_USB_EVENT_POLL_VIA_INT_QUEUE=y
CONFIG_OF_BOARD=y
CONFIG_SYS_TEXT_BASE=0x4a000000

#system
CONFIG_ARM_SMCCC=y
CONFIG_SUNXI_DMA=y

# flash
CONFIG_SUNXI_FLASH=y
CONFIG_SUNXI_NAND=y

#usb otg config
CONFIG_SUNXI_USB=y
CONFIG_SUNXI_EFEX=y
CONFIG_SUNXI_FASTBOOT=y
#usb hcd
CONFIG_USB=y
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_STORAGE=y
CONFIG_USB0_VBUS_PIN="PB0"
CONFIG_USB1_VBUS_PIN="PB1"

#partition
CONFIG_EFI_PARTITION=y
CONFIG_CMD_PART=y

#image
CONFIG_ANDROID_BOOT_IMAGE=y

#sprite
CONFIG_SUNXI_SPRITE=y

#cmd
CONFIG_CMD_SUNXI_TIMER=y
CONFIG_CMD_SUNXI_SPRITE=y
CONFIG_CMD_SUNXI_EFEX=y
CONFIG_CMD_GPT=y
CONFIG_CMD_FAT=y
CONFIG_CMD_SUNXI_DMA=y
CONFIG_CMD_USB=y
CONFIG_CMD_SUNXI_MEMTEST=y

#power
CONFIG_SUNXI_NO_PMIC=y
