CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_MACH_SUN50IW9=y
#CONFIG_AXP_GPIO=y
CONFIG_DEFAULT_DEVICE_TREE="sun50iw9-common"
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
CONFIG_CONSOLE_MUX=y
CONFIG_OF_BOARD=y
CONFIG_SYS_TEXT_BASE=0x4A000000

#system
CONFIG_ARM_SMCCC=y
CONFIG_SUNXI_DMA=y
CONFIG_PHYS_64BIT=y

#I2C
# CONFIG_SYS_I2C_SUNXI=y
# CONFIG_SYS_SUNXI_R_I2C0_SLAVE=0x34
# CONFIG_SYS_SUNXI_R_I2C0_SPEED=400000
# CONFIG_R_I2C0_ENABLE=y
# #power
# CONFIG_SUNXI_POWER=y
# CONFIG_SUNXI_PMU=y
# CONFIG_AXP1530_POWER=y
# CONFIG_AXP1530_SUNXI_I2C_SLAVE=0x36
# CONFIG_SUNXI_AXP152_POWER=y
# CONFIG_AXP152_SUNXI_I2C_SLAVE=0x30
# CONFIG_AXP858_POWER=y
# CONFIG_AXP858_SUNXI_I2C_SLAVE=0x36
# CONFIG_AXP806_POWER=y
# CONFIG_AXP806_SUNXI_I2C_SLAVE=0x36



# flash
CONFIG_SUNXI_SDMMC=y
CONFIG_MMC=y
CONFIG_SUNXI_FLASH=y
# CONFIG_SUNXI_NAND=y
# CONFIG_CMD_SUNXI_NAND=y
# CONFIG_SUNXI_COMM_NAND_V1=y
CONFIG_SUNXI_BOOT0_SDMMC_BACKUP_START_ADDR=512

#usb otg config
# CONFIG_SUNXI_USB=y
# CONFIG_SUNXI_EFEX=y
# CONFIG_SUNXI_BURN=y

#usb hcd
# CONFIG_USB=y
# CONFIG_USB_EHCI_HCD=y
# CONFIG_USB_STORAGE=y
# CONFIG_USB0_VBUS_PIN="PI11"
# CONFIG_USB1_VBUS_PIN="PI11"
# CONFIG_USB2_VBUS_PIN="PI11"
# CONFIG_USB3_VBUS_PIN="PI11"

#partition
CONFIG_EFI_PARTITION=y

#image
CONFIG_ANDROID_BOOT_IMAGE=y

#sprite
CONFIG_SUNXI_SPRITE=y
# CONFIG_SUNXI_SECURE_STORAGE=y
# CONFIG_SUNXI_SPRITE_CARTOON=y
# CONFIG_SUNXI_AUTO_UPDATE=y

#power
CONFIG_SUNXI_NO_PMIC=y
# CONFIG_SUNXI_TRY_POWER_SPLY=y

#secure feature
# CONFIG_SUNXI_SECURE_BOOT=y
# CONFIG_SUNXI_IMAGE_VERIFIER=y
# CONFIG_SUNXI_KEYBOX=y

#android
# CONFIG_SUNXI_MAC=y
# CONFIG_SUNXI_USER_KEY=y
# CONFIG_SUNXI_AVB=y
# CONFIG_SUNXI_ANDROID_BOOT=y
# CONFIG_SUNXI_SERIAL=y

#homlet
# CONFIG_SUNXI_HOMLET=y
# CONFIG_RECOVERY_KEY=y
# CONFIG_IR_BOOT_RECOVERY=y
# CONFIG_SUNXI_DRM_SUPPORT=y
# CONFIG_SUNXI_HDCP_IN_SECURESTORAGE=y
# CONFIG_SUNXI_HDCP_HASH=n

#freq limit
# CONFIG_SUNXI_CHECK_LIMIT_VERIFY=y
# CONFIG_SUNXI_LIMIT_CPU_FREQ=y

#cmd
# CONFIG_CMD_SUNXI_TIMER=y
# CONFIG_CMD_SUNXI_SPRITE=y
# CONFIG_CMD_SUNXI_EFEX=y
# CONFIG_CMD_SUNXI_BURN=y
CONFIG_CMD_GPT=y
# CONFIG_CMD_FAT=y
CONFIG_CMD_SUNXI_MEMTEST=y
# CONFIG_CMD_FASTBOOT=y
# CONFIG_CMD_USB=y
#overlay
# CONFIG_SUNXI_OVERLAY=y

#box_standby
# CONFIG_ATF_BOX_STANDBY=y

#
# Clock
#
# CONFIG_CLK_SUNXI=y
# #
# # BOOT GUI
# #
# CONFIG_BOOT_GUI=y
# # CONFIG_UPDATE_DISPLAY_MODE is not set
# # CONFIG_CONFIG_LCD_CHECK_SKIP_OPEN is not set
# # CONFIG_BOOT_GUI_DOUBLE_BUF is not set
# # CONFIG_BOOT_GUI_TEST is not set
#
# #
# # SUNXI LOGO DISPLAY
# #
# CONFIG_CMD_SUNXI_BMP=y
# CONFIG_SUNXI_ADVERT_PICTURE=y
# CONFIG_LZMA=y
# # CONFIG_SUNXI_SPINOR_BMP is not set
# # CONFIG_ENABLE_ADVERT_PICTURE is not set
# # CONFIG_CMD_SUNXI_JPEG is not set
# CONFIG_DISP2_SUNXI=y
#
# #CONFIG_HDMI2_CEC_SUNXI=y
# CONFIG_HDMI2_DISP2_SUNXI=y
# #CONFIG_HDMI2_FREQ_SPREAD_SPECTRUM_NEW=y
# # CONFIG_VDPO_DISP2_SUNXI is not set
# CONFIG_TV_DISP2_SUNXI=y
# # CONFIG_DISP2_TV_GM7121 is not set
# # CONFIG_DISP2_TV_AC200 is not set
# # CONFIG_EDP_DISP2_SUNXI is not set
# # CONFIG_EINK_PANEL_USED is not set
#
# #
# # LCD panels select
# #
# # CONFIG_LCD_SUPPORT_GG1P4062UTSW is not set
# # CONFIG_LCD_SUPPORT_DX0960BE40A1 is not set
# # CONFIG_LCD_SUPPORT_TFT720X1280 is not set
# # CONFIG_LCD_SUPPORT_FD055HD003S is not set
# # CONFIG_LCD_SUPPORT_HE0801A068 is not set
# # CONFIG_LCD_SUPPORT_ILI9341 is not set
# # CONFIG_LCD_SUPPORT_LH219WQ1 is not set
# # CONFIG_LCD_SUPPORT_LS029B3SX02 is not set
# # CONFIG_LCD_SUPPORT_LT070ME05000 is not set
# # CONFIG_LCD_SUPPORT_S6D7AA0X01 is not set
# # CONFIG_LCD_SUPPORT_T27P06 is not set
# # CONFIG_LCD_SUPPORT_TFT720x1280 is not set
# # CONFIG_LCD_SUPPORT_WTQ05027D01 is not set
# # CONFIG_LCD_SUPPORT_H245QBN02 is not set
# # CONFIG_LCD_SUPPORT_ST7789V is not set
# # CONFIG_LCD_SUPPORT_ST7796S is not set
# # CONFIG_LCD_SUPPORT_ST7701S is not set
# # CONFIG_LCD_SUPPORT_T30P106 is not set
# # CONFIG_LCD_SUPPORT_TO20T20000 is not set
# # CONFIG_LCD_SUPPORT_FRD450H40014 is not set
# # CONFIG_LCD_SUPPORT_S2003T46G is not set
# # CONFIG_LCD_SUPPORT_WILLIAMLCD is not set
# # CONFIG_LCD_SUPPORT_LQ101R1SX03 is not set
# # CONFIG_LCD_SUPPORT_INET_DSI_PANEL is not set
# # CONFIG_LCD_SUPPORT_WTL096601G03 is not set
# CONFIG_LCD_SUPPORT_BP101WX1=y
#
# #
# # Display engine feature select
# #
# # CONFIG_DISP2_SUNXI_SUPPORT_SMBL is not set
# # CONFIG_DISP2_SUNXI_SUPPORT_ENAHNCE is not set
#
# # PWM_SUNXI
# #
# # CONFIG_PWM_SUNXI is not set
# CONFIG_PWM_SUNXI_NEW=y
#
